.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.narrow {
  width: 5rem;
}

.form {
  padding-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
}

.double {
  margin-top: 1rem;
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.horizontal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.hidden,
input[type="file"] {
  display: none;
}

.label {
  display: flex;
  width: 100%;
}

.input {
  width: 100%;
  min-width: 0;
}

.preview {
  width: 100%;
  margin: 1rem 0;
}
