.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.narrow {
  width: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hidden,
input[type="file"] {
  display: none;
}
