.horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  align-items: top;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 1rem;
}

.smallflex {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 0.5rem;
  border: 1px solid black;
  padding: 1rem;
}

.danger {
  color: red;
  background-color: #ffebee;
  border: 1px solid #ffcdd2;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
