.main {
  width: 100%;
  min-height: 100vh;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  gap: 1rem;
}

.outlet {
  padding: 1rem;
}
