<!DOCTYPE html>
<html>
  <head>
    <title>Ask My Book | Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'admin-bundle' %>
    <%= stylesheet_pack_tag 'admin-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
