<!DOCTYPE html>
<html>
  <head>
    <title>AskMyBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'ask-my-book-bundle' %>
    <%= stylesheet_pack_tag 'ask-my-book-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
